<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513083007552-upfpekbnofapscfravsg5pdjvsl2bjgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513083007552-upfpekbnofapscfravsg5pdjvsl2bjgg</string>
	<key>API_KEY</key>
	<string>AIzaSyC9JE1km07Mzx35mzBmEY6OeZfcm_BZsDk</string>
	<key>GCM_SENDER_ID</key>
	<string>513083007552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edwar.mynotes</string>
	<key>PROJECT_ID</key>
	<string>edwar-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>edwar-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513083007552:ios:0c4cc4f454a6e39b4075a5</string>
</dict>
</plist>